PORT=3000
NODE_ENV=production

DATABASE_URL=postgresql://postgres.SEU_ID:SUA_SENHA@aws-0-sa-east-1.pooler.supabase.com:5432/postgres

JWT_SECRET=
JWT_EXPIRES_IN=7d

CORS_ORIGIN=https://seu-frontend.com
