{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Famax{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'forum/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="/forum/">Famax Forum</a></h1>
        <nav>
            <a href="/forum/">Início</a>
            <a href="/admin/">Admin</a>
        </nav>
        <hr />
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr />
        <small>Feito por FAMAX</small>
    </footer>
</body>
</html>

